<table>
<caption>{{ 'Achievements'|t }}</caption>
<tr>
<th>name</th>
<th class="priority-medium">stars</th>
<th>value</th>
<th>target</th>
<th class="priority-medium">info</th>
<th class="priority-low">completionInfo</th>
<th class="priority-medium">village</th>
</tr>
{% for item in data %}
<tr>
<td>{{ item.name }}</td>
<td class="priority-medium">{{ item.stars }}</td>
<td>{{ item.value }}</td>
<td>{{ item.target }}</td>
<td class="priority-medium">{{ item.info }}</td>
<td class="priority-low">{{ item.completionInfo }}</td>
<td class="priority-medium">{{ item.village }}</td>
</tr>
{% endfor %}
</table>
