{#
/**
 * @file
 * Default theme implementation to present a clan entity.
 *
 * This template is used when viewing a registered clan's page,
 * e.g., /admin/content/clashofclans-clan)/123. 123 being the clan's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_clashofclans_clan()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content|without('flag_following_clans') -}}
  {% endif %}

  <p>
  {{ (data.warLeague.name) }} {{ location }}
  </p>
  <div style="float: right;">{{ content.flag_following_clans }}</div>
  <ul>
  {% for key,val in data %}
    <li>
      {{ key }}:
      {% if val is iterable %}
        [ {{ 'Array'|t }} ]
      {% else %}
        {{ val }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
  <ul class="links inline">
    <li>warWins: {{ data.warWins}}</li>
    <li>warWinStreak: {{ data.warWinStreak}}</li>
    {% if data.isWarLogPublic %}
    <li>warTies: {{ data.warTies}}</li>
    <li>warLosses: {{ data.warLosses}}</li>
    <li><a href="{{ url('<front>') }}clashofclans-clan/tag/{{ data.tag|url_encode }}/warlog">{{ 'War log'|t }}</a></li>
    <li><a href="{{ url('<front>') }}clashofclans-clan/tag/{{ data.tag|url_encode }}/currentwar">{{ 'Current war'|t }}</a></li>
    <li><a href="{{ url('<front>') }}clashofclans-clan/{{ nid }}/currentwar/leaguegroup">{{ 'League group'|t }}</a></li>
    {% endif %}
  </ul>
  <div>memberlist: &gt;&gt; <a href="{{ url('<front>') }}clashofclans-clan/tag/{{ data.tag|url_encode }}/memberlist/nojs">The best rank.</a></div>
  {{ member_list }}
</article>
