<article>
<div style="float: right;">
  <div><img src="{{ player.clan.badgeUrls.small }}" /></div>
  <div>{{ clan }}</div>
  <div>Role: {{ player.role }}</div>
  <div>donations: {{ player.donations }}</div>
  <div>Received: {{ player.donationsReceived }}</div>
</div>
<div><img src="{{ player.league.iconUrls.small }}" /><span>{{ player.trophies }}</span></div>
<div>Tag: {{ player.tag }}</div>
<div>townHallLevel: {{ player.townHallLevel }}</div>
<div>townHallWeaponLevel: {{ player.townHallWeaponLevel }}</div>
<div>expLevel: {{ player.expLevel }}</div>
<div>bestTrophies: {{ player.bestTrophies }}</div>
<div>warStars: {{ player.warStars }}</div>
<div>attackWins: {{ player.attackWins }}</div>
<div>defenseWins: {{ player.defenseWins }}</div>
<div>versusBattleWins: {{ player.versusBattleWins }}</div>
<div>builderHallLevel: {{ player.builderHallLevel }}</div>
<div>versusTrophies: {{ player.versusTrophies }}</div>
<div>bestVersusTrophies: {{ player.bestVersusTrophies }}</div>
</article>
