{#
/**
 * @file
 * Default theme implementation to present a leaguegroup entity.
 *
 * This template is used when viewing a registered leaguegroup's page,
 * e.g., /admin/content/leaguegroup)/123. 123 being the leaguegroup's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_leaguegroup()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
  <table><caption>{{ 'League Group'|t }}</caption>
    <tr>
      <th>Badge</th>
      <th>name</th>
      <th>tag</th>
      <th>stars</th>
      <th>destructionPercentage</th>
    </tr>
  {% for clan in content.clans %}
    <tr>
      <td>
        <img src="{{ clan.badgeUrls.small }}" />
      </td>
      <td nowrap>
        <p><a href="/clashofclans-clan/tag/{{ clan.tag|url_encode }}">{{ clan.name }}</a></p>
      </td>
      <td>{{ clan.tag }}</td>
      <td>{{ clan.stars }}</td>
      <td>{{ clan.destructionPercentage }}</td>
    </tr>
  {% endfor %}
  </table>


  <h2>{{ 'Rounds'|t }}</h2>
  {% for key,round in content.rounds %}
    <table>
      <caption><h3>{{ 'Round'|t }} {{ key+1 }}</h3>
      </caption>

      {# {% for war_tag in round.warTags %}
        <tr>
          <td>
            <a href="{{ path('clashofclans_clan.clanwarleagues.war', {'tag': war_tag}) }}">{{ war_tag }}</a></td>
          </td>
        </tr>
      {% endfor %} #}

      <tr>
        <td colspan="2">Clan</td>
        <td colspan="2">Opponent</td>
        <td>State</td>
        <td>Start time</td>
      </tr>

      {% for war_tag, war in round.warDatas %}
      <tr>
        <td><img src="{{ war.clan.badgeUrls.small }}" width="70" height="70" /><br />
        <a href="{{ path('clashofclans_clan.tag', {'tag': war.clan.tag}) }}">{{ war.clan.name }}</a></td>
        <td nowrap>
          <a href="{{ path('clashofclans_clan.clanwarleagues.war', {'tag': war_tag}) }}">
          <div>⭐ {{ war.clan.stars }}</div>
          <div>💥 {{ war.clan.destructionPercentage|number_format(1) }}%</div>
          <div>⚔️ {{ war.clan.attacks }}</div>
          </a>
        </td>
        <td nowrap>
          <a href="{{ path('clashofclans_clan.clanwarleagues.war', {'tag': war_tag}) }}">
          <div>⭐ {{ war.opponent.stars }}</div>
          <div>💥 {{ war.opponent.destructionPercentage|number_format(1) }}%</div>
          <div>⚔️ {{ war.opponent.attacks }}</div>
          </a>
        </td>
        <td><img src="{{ war.opponent.badgeUrls.small }}" width="70" height="70" /><br />
        <a href="{{ path('clashofclans_clan.tag', {'tag': war.opponent.tag}) }}">{{ war.opponent.name }}</a></td>
        <td>{{ war.state }}</td>
        <td>{{ war.warStartTime|replace({ '.000Z':' UTC'})|date('Y-m-d H:i:s') }}</td>
      </tr>
    {% endfor %}
    </table>
  {% endfor %}

</article>
